/* You can add global styles to this file, and also import other style files */
.flex {
    display: flex;
    
    &_row{
        flex-direction: row;
    }

    &_left{
        align-items: center;
        justify-content: left;
    }

    &_center{
        align-items: center;
        justify-content: center;
    }
}
